<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <!--SQL-->
    <add key="Sql" value="xxx"/>

    <!--Betfair-->
    <add key="ssoHost" value="identitysso-cert.betfair.com"/>
    <add key="appKey" value="xxx" />
    <add key="userName" value="xxx" />
    <add key="password" value="xxx" />

    <!--Betfair Hub-->
    <add key ="ratingsFile" value="https://betfair-data-supplier-prod.herokuapp.com/api/widgets/kash-ratings-model/datasets?date={0:yyyy-MM-dd}&amp;presenter=RatingsPresenter&amp;json=true"/>

    <!--Engine-->
    <add key="UnitSize" value="5"/>
    <add key="OversNeeded" value="1.6"/>
    <add key="MaxAllowableMarketPct" value="1.1"/>
  </appSettings>
</configuration>